/* ----- Main components -------------------------------------------------- */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  padding: 5px;
  transition: 0.5s;
}

.App-header {
  height: 120px;
  padding: 20px;
  background-color: #222;
  transition: 0.5s;
}

.App-navigation {
  transition: 0.5s;
}

.App-content {
  padding-top: 40px;
  font-size: large;
}

.Home-content {
  position: absolute;
  top: 200px;
  bottom: 0px;
  width: 100%;
  padding-top: 40px;
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* ----- Content tables -------------------------------------------------- */

.content-list { 
  border-collapse: separate; 
  border-spacing: 0 10px; 
  margin-left: 1em;
  margin-right: 1em;
  width: 25rem;
}

.content-list-icon {
  width: 1rem;
}

.content-list-content {
  width: 24rem;
}

td {
  border: none;
  padding: 10px;
}

td:first-child {
  border-top-left-radius: 10px; 
  border-bottom-left-radius: 10px;
}

td:last-child {
  border-bottom-right-radius: 10px; 
  border-top-right-radius: 10px; 
}

td.status-fetched {
  color:gray;
}

td.status-sought {
  color: gray;
  background-color: rgb(240, 240, 240);
}

td.status-sought:last-child {
  text-decoration-line: line-through;
  text-decoration-style: solid;
  text-decoration-color: gray;
}

td.status-found {
  color: orange;
  background-color: rgb(255, 236, 200);
}

td.status-found:last-child {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: orange;
}

td.action-clear {
  color: red;
  font-weight: bold;
  background-color: rgb(255, 155, 155);
}

td.action-import {
  color: green;
  font-weight: bold;
  background-color: rgb(155, 255, 155);
}

